-- CreateTable
CREATE TABLE `diw_users` (
    `id` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `passwordHash` VARCHAR(191) NOT NULL,
    `role` ENUM('USER', 'STAFF', 'ADMIN') NOT NULL DEFAULT 'USER',
    `firstName` VARCHAR(191) NULL,
    `lastName` VARCHAR(191) NULL,
    `phone` VARCHAR(191) NULL,
    `kycStatus` ENUM('NOT_STARTED', 'PENDING', 'APPROVED', 'REJECTED') NOT NULL DEFAULT 'NOT_STARTED',
    `twoFactorEnabled` BOOLEAN NOT NULL DEFAULT false,
    `twoFactorSecret` VARCHAR(191) NULL,
    `status` ENUM('ACTIVE', 'SUSPENDED', 'LOCKED') NOT NULL DEFAULT 'ACTIVE',
    `mustChangePassword` BOOLEAN NOT NULL DEFAULT false,
    `emailVerified` BOOLEAN NOT NULL DEFAULT false,
    `emailVerificationToken` VARCHAR(191) NULL,
    `passwordResetToken` VARCHAR(191) NULL,
    `passwordResetExpires` DATETIME(3) NULL,
    `lastLoginAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_users_email_key`(`email`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_refresh_tokens` (
    `id` VARCHAR(191) NOT NULL,
    `token` VARCHAR(500) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `expiresAt` DATETIME(3) NOT NULL,
    `revoked` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `diw_refresh_tokens_token_key`(`token`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_kyc_documents` (
    `id` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `documentType` VARCHAR(191) NOT NULL,
    `documentUrl` VARCHAR(500) NOT NULL,
    `status` ENUM('NOT_STARTED', 'PENDING', 'APPROVED', 'REJECTED') NOT NULL DEFAULT 'PENDING',
    `rejectionReason` TEXT NULL,
    `verifiedAt` DATETIME(3) NULL,
    `reviewedBy` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_wallets` (
    `id` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_wallets_userId_key`(`userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_wallet_balances` (
    `id` VARCHAR(191) NOT NULL,
    `walletId` VARCHAR(191) NOT NULL,
    `currency` VARCHAR(10) NOT NULL,
    `availableBalance` DECIMAL(20, 8) NOT NULL DEFAULT 0.00000000,
    `lockedPrincipal` DECIMAL(20, 8) NOT NULL DEFAULT 0.00000000,
    `pendingSettlement` DECIMAL(20, 8) NOT NULL DEFAULT 0.00000000,
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_wallet_balances_walletId_currency_key`(`walletId`, `currency`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_ledger_accounts` (
    `id` VARCHAR(60) NOT NULL,
    `accountName` VARCHAR(100) NOT NULL,
    `accountType` ENUM('ASSET', 'LIABILITY', 'EQUITY', 'REVENUE', 'EXPENSE') NOT NULL,
    `currency` VARCHAR(10) NOT NULL,
    `description` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_ledger_journals` (
    `id` VARCHAR(191) NOT NULL,
    `idempotencyKey` VARCHAR(100) NOT NULL,
    `referenceType` ENUM('DEPOSIT', 'PACKAGE_PURCHASE', 'MONTHLY_RETURN', 'PRINCIPAL_RELEASE', 'WITHDRAWAL_REQUEST', 'WITHDRAWAL_SETTLEMENT', 'WITHDRAWAL_REJECTED', 'P2P_TRANSFER', 'P2P_ESCROW_LOCK', 'P2P_ESCROW_RELEASE', 'EXCHANGE_BUY', 'EXCHANGE_SELL', 'FEE', 'ADJUSTMENT', 'REVERSAL') NOT NULL,
    `referenceId` VARCHAR(64) NULL,
    `notes` TEXT NULL,
    `createdBy` VARCHAR(64) NOT NULL DEFAULT 'SYSTEM',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `diw_ledger_journals_idempotencyKey_key`(`idempotencyKey`),
    INDEX `diw_ledger_journals_referenceType_referenceId_idx`(`referenceType`, `referenceId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_ledger_entries` (
    `id` VARCHAR(191) NOT NULL,
    `journalId` VARCHAR(191) NOT NULL,
    `accountId` VARCHAR(60) NOT NULL,
    `userId` VARCHAR(36) NULL,
    `direction` ENUM('DEBIT', 'CREDIT') NOT NULL,
    `amount` DECIMAL(20, 8) NOT NULL,
    `currency` VARCHAR(10) NOT NULL,
    `balanceBefore` DECIMAL(20, 8) NULL,
    `balanceAfter` DECIMAL(20, 8) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `diw_ledger_entries_journalId_idx`(`journalId`),
    INDEX `diw_ledger_entries_accountId_idx`(`accountId`),
    INDEX `diw_ledger_entries_userId_idx`(`userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_investment_packages` (
    `id` VARCHAR(191) NOT NULL,
    `packageCode` VARCHAR(30) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `amount` DECIMAL(20, 8) NOT NULL,
    `currency` VARCHAR(10) NOT NULL DEFAULT 'USD',
    `returnRateSnapshot` DECIMAL(6, 4) NOT NULL,
    `lockInMonths` INTEGER NOT NULL DEFAULT 6,
    `status` ENUM('PENDING_PAYMENT', 'ACTIVE', 'MATURED', 'WITHDRAWAL_REQUESTED', 'SETTLED', 'CANCELLED') NOT NULL DEFAULT 'PENDING_PAYMENT',
    `purchaseDate` DATETIME(3) NULL,
    `lockInStart` DATETIME(3) NULL,
    `lockInEnd` DATETIME(3) NULL,
    `withdrawalEligibilityDate` DATETIME(3) NULL,
    `depositProofUrl` VARCHAR(500) NULL,
    `depositMethod` VARCHAR(50) NULL,
    `adminNotes` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_investment_packages_packageCode_key`(`packageCode`),
    INDEX `diw_investment_packages_userId_status_idx`(`userId`, `status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_package_returns` (
    `id` VARCHAR(191) NOT NULL,
    `packageId` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `periodIndex` INTEGER NOT NULL,
    `returnAmount` DECIMAL(20, 8) NOT NULL,
    `currency` VARCHAR(10) NOT NULL,
    `payoutDate` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `ledgerJournalId` VARCHAR(36) NULL,
    `status` ENUM('CREDITED', 'PAUSED', 'REVERSED') NOT NULL DEFAULT 'CREDITED',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `diw_package_returns_packageId_idx`(`packageId`),
    INDEX `diw_package_returns_userId_idx`(`userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_withdrawal_requests` (
    `id` VARCHAR(191) NOT NULL,
    `requestCode` VARCHAR(30) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `packageId` VARCHAR(191) NULL,
    `withdrawalType` ENUM('MONTHLY_RETURNS', 'PRINCIPAL_RELEASE') NOT NULL,
    `amount` DECIMAL(20, 8) NOT NULL,
    `currency` VARCHAR(10) NOT NULL,
    `payoutMethod` ENUM('BANK_TRANSFER', 'USDT_WALLET', 'CASH_PICKUP_TBILISI', 'PLATFORM_WALLET') NOT NULL,
    `payoutDetails` TEXT NOT NULL,
    `status` ENUM('REQUESTED', 'UNDER_REVIEW', 'APPROVED', 'SETTLED', 'REJECTED') NOT NULL DEFAULT 'REQUESTED',
    `requestWindowDate` DATETIME(3) NOT NULL,
    `settlementReference` VARCHAR(100) NULL,
    `adminNotes` TEXT NULL,
    `reviewedBy` VARCHAR(191) NULL,
    `settledAt` DATETIME(3) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_withdrawal_requests_requestCode_key`(`requestCode`),
    INDEX `diw_withdrawal_requests_userId_status_idx`(`userId`, `status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_exchange_pairs` (
    `id` VARCHAR(191) NOT NULL,
    `baseCurrency` VARCHAR(10) NOT NULL,
    `quoteCurrency` VARCHAR(10) NOT NULL,
    `baseRate` DECIMAL(20, 8) NOT NULL,
    `buyMarginPct` DECIMAL(6, 4) NOT NULL DEFAULT 1.00,
    `sellMarginPct` DECIMAL(6, 4) NOT NULL DEFAULT 1.00,
    `minOrder` DECIMAL(20, 8) NOT NULL DEFAULT 100.00,
    `maxOrder` DECIMAL(20, 8) NOT NULL DEFAULT 50000.00,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_exchange_pairs_baseCurrency_quoteCurrency_key`(`baseCurrency`, `quoteCurrency`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_exchange_orders` (
    `id` VARCHAR(191) NOT NULL,
    `orderCode` VARCHAR(30) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `orderType` ENUM('BUY_USDT', 'SELL_USDT') NOT NULL,
    `fromCurrency` VARCHAR(10) NOT NULL,
    `toCurrency` VARCHAR(10) NOT NULL,
    `fromAmount` DECIMAL(20, 8) NOT NULL,
    `toAmount` DECIMAL(20, 8) NOT NULL,
    `rate` DECIMAL(20, 8) NOT NULL,
    `feeAmount` DECIMAL(20, 8) NOT NULL,
    `payoutDestination` ENUM('BANK_TRANSFER', 'USDT_WALLET', 'CASH_PICKUP_TBILISI', 'PLATFORM_WALLET') NOT NULL,
    `destinationDetails` TEXT NOT NULL,
    `status` ENUM('QUOTE_PENDING', 'AWAITING_DEPOSIT', 'DEPOSIT_SUBMITTED', 'VERIFYING', 'PROCESSING_PAYOUT', 'COMPLETED', 'CANCELLED', 'EXPIRED') NOT NULL DEFAULT 'QUOTE_PENDING',
    `depositProofUrl` VARCHAR(500) NULL,
    `txHashOrUtr` VARCHAR(128) NULL,
    `expiresAt` DATETIME(3) NOT NULL,
    `completedAt` DATETIME(3) NULL,
    `adminNotes` TEXT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_exchange_orders_orderCode_key`(`orderCode`),
    INDEX `diw_exchange_orders_userId_status_idx`(`userId`, `status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_p2p_offers` (
    `id` VARCHAR(191) NOT NULL,
    `offerCode` VARCHAR(30) NOT NULL,
    `userId` VARCHAR(191) NOT NULL,
    `side` ENUM('BUY', 'SELL') NOT NULL,
    `cryptoCurrency` VARCHAR(10) NOT NULL DEFAULT 'USDT',
    `fiatCurrency` VARCHAR(10) NOT NULL,
    `price` DECIMAL(20, 8) NOT NULL,
    `totalAmount` DECIMAL(20, 8) NOT NULL,
    `availableAmount` DECIMAL(20, 8) NOT NULL,
    `minLimit` DECIMAL(20, 8) NOT NULL,
    `maxLimit` DECIMAL(20, 8) NOT NULL,
    `paymentMethods` TEXT NOT NULL,
    `paymentTerms` TEXT NULL,
    `status` ENUM('OPEN', 'PAUSED', 'FILLED', 'CANCELLED') NOT NULL DEFAULT 'OPEN',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_p2p_offers_offerCode_key`(`offerCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_p2p_orders` (
    `id` VARCHAR(191) NOT NULL,
    `orderCode` VARCHAR(30) NOT NULL,
    `offerId` VARCHAR(191) NOT NULL,
    `buyerId` VARCHAR(191) NOT NULL,
    `sellerId` VARCHAR(191) NOT NULL,
    `cryptoAmount` DECIMAL(20, 8) NOT NULL,
    `fiatAmount` DECIMAL(20, 8) NOT NULL,
    `price` DECIMAL(20, 8) NOT NULL,
    `escrowJournalId` VARCHAR(36) NULL,
    `paymentProofUrl` VARCHAR(500) NULL,
    `status` ENUM('PENDING_PAYMENT', 'PAYMENT_SENT', 'COMPLETED', 'DISPUTED', 'CANCELLED') NOT NULL DEFAULT 'PENDING_PAYMENT',
    `disputeReason` TEXT NULL,
    `disputeResolvedBy` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_p2p_orders_orderCode_key`(`orderCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_p2p_messages` (
    `id` VARCHAR(191) NOT NULL,
    `orderId` VARCHAR(191) NOT NULL,
    `senderId` VARCHAR(191) NOT NULL,
    `message` TEXT NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_cms_settings` (
    `id` VARCHAR(191) NOT NULL,
    `group` VARCHAR(50) NOT NULL,
    `key` VARCHAR(100) NOT NULL,
    `value` TEXT NOT NULL,
    `description` VARCHAR(255) NULL,
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_cms_settings_key_key`(`key`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_cms_sections` (
    `id` VARCHAR(191) NOT NULL,
    `page` VARCHAR(50) NOT NULL,
    `section` VARCHAR(50) NOT NULL,
    `title` VARCHAR(255) NULL,
    `subtitle` TEXT NULL,
    `content` LONGTEXT NULL,
    `metadata` LONGTEXT NULL,
    `sortOrder` INTEGER NOT NULL DEFAULT 0,
    `isActive` BOOLEAN NOT NULL DEFAULT true,
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_blog_posts` (
    `id` VARCHAR(191) NOT NULL,
    `slug` VARCHAR(150) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `summary` TEXT NOT NULL,
    `content` LONGTEXT NOT NULL,
    `coverImage` VARCHAR(500) NULL,
    `authorName` VARCHAR(191) NOT NULL DEFAULT 'Nexis Research Team',
    `readTime` VARCHAR(191) NOT NULL DEFAULT '5 min read',
    `isPublished` BOOLEAN NOT NULL DEFAULT true,
    `publishedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `diw_blog_posts_slug_key`(`slug`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_inquiries` (
    `id` VARCHAR(191) NOT NULL,
    `type` ENUM('GENERAL', 'INVESTMENT_ENQUIRY', 'EXCHANGE_ENQUIRY', 'START_PARTNERSHIP') NOT NULL,
    `name` VARCHAR(100) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `phone` VARCHAR(50) NULL,
    `subject` VARCHAR(200) NOT NULL,
    `message` TEXT NOT NULL,
    `userId` VARCHAR(191) NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'NEW',
    `adminNotes` TEXT NULL,
    `forwardedMail` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `diw_admin_audit_logs` (
    `id` VARCHAR(191) NOT NULL,
    `userId` VARCHAR(191) NULL,
    `action` VARCHAR(100) NOT NULL,
    `entity` VARCHAR(60) NOT NULL,
    `entityId` VARCHAR(64) NULL,
    `details` TEXT NULL,
    `ipAddress` VARCHAR(45) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `diw_admin_audit_logs_action_entity_idx`(`action`, `entity`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `diw_refresh_tokens` ADD CONSTRAINT `diw_refresh_tokens_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_kyc_documents` ADD CONSTRAINT `diw_kyc_documents_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_wallets` ADD CONSTRAINT `diw_wallets_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_wallet_balances` ADD CONSTRAINT `diw_wallet_balances_walletId_fkey` FOREIGN KEY (`walletId`) REFERENCES `diw_wallets`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_ledger_entries` ADD CONSTRAINT `diw_ledger_entries_journalId_fkey` FOREIGN KEY (`journalId`) REFERENCES `diw_ledger_journals`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_ledger_entries` ADD CONSTRAINT `diw_ledger_entries_accountId_fkey` FOREIGN KEY (`accountId`) REFERENCES `diw_ledger_accounts`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_investment_packages` ADD CONSTRAINT `diw_investment_packages_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_package_returns` ADD CONSTRAINT `diw_package_returns_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `diw_investment_packages`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_package_returns` ADD CONSTRAINT `diw_package_returns_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_withdrawal_requests` ADD CONSTRAINT `diw_withdrawal_requests_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_withdrawal_requests` ADD CONSTRAINT `diw_withdrawal_requests_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `diw_investment_packages`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_exchange_orders` ADD CONSTRAINT `diw_exchange_orders_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_p2p_offers` ADD CONSTRAINT `diw_p2p_offers_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_p2p_orders` ADD CONSTRAINT `diw_p2p_orders_offerId_fkey` FOREIGN KEY (`offerId`) REFERENCES `diw_p2p_offers`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_p2p_orders` ADD CONSTRAINT `diw_p2p_orders_buyerId_fkey` FOREIGN KEY (`buyerId`) REFERENCES `diw_users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_p2p_orders` ADD CONSTRAINT `diw_p2p_orders_sellerId_fkey` FOREIGN KEY (`sellerId`) REFERENCES `diw_users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_p2p_messages` ADD CONSTRAINT `diw_p2p_messages_orderId_fkey` FOREIGN KEY (`orderId`) REFERENCES `diw_p2p_orders`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_inquiries` ADD CONSTRAINT `diw_inquiries_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `diw_admin_audit_logs` ADD CONSTRAINT `diw_admin_audit_logs_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `diw_users`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

